body{
    font-family: arial, sans-serif;
}

header {
    padding: 20px 20px 0;
}
#header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo-search {
    display: flex;
    align-items: center;
}

#logo-container {
    margin-right: 40px;
}
#logo {
    width: 92px;
    height: 30px;
}
#search {
    border-radius: 20px;
    border:1px solid #cccccc;
    width:100%;
    width: 584px;
    height: 40px;
    padding: 20px;
}
#search:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color:rgba(223,225,229,0);
}

#menu-header ul{
    display: flex;
    list-style: none;
    padding:0;
    margin: 0;
}


#menu-icon {
    max-width: 25px;
    width: 100px;
    height; auto;
    text-decoration: none;
    padding-right: 10px;
}
#sign-in {
    border:1px solid #4285f4;
    border-radius: 2px;
    font-size: 13px;
    background: #4285f4;
    outline: none;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    background: linear-gradient(top,#4387fd,#4683ea);
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
}

#header-main {
    border-bottom: 1px solid #ebebeb;
}

#header-main #nav-bar {
    max-width: 570px;
    margin-left: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#header-main #nav-bar #main-menu{
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#header-main #nav-bar #main-right{
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#header-main #nav-bar #main-menu li,
#header-main #nav-bar #main-right li {
    margin-right: 20px;
}

#header-main #nav-bar #main-menu li:last-child,
#header-main #nav-bar #main-right li:last-child {
    margin-right: 0px;
}

#header-main #nav-bar #main-menu li a,
#header-main #nav-bar #main-right li a {
   text-decoration: none;
   color: #70757a;
   font-size: 13px;
}

#results-section {
    padding-left: 160px;
}
#search-result-number {
    font-size: 13px;
    color:#70757a;
}
#results-container {
    margin-top: 20px;
    max-width: 570px;
}
.result-item {
    margin: 0 0 30px;
}
.result-item .permalink {
    font-size 13px;
    color: #000;
}
.result-item .permalink .current-url {
    color: #70757a;
}

.result-item .result-title {
    font-size: 20px;
}
.result-item .result-description {
    color: #70757a;
    font-size 13px;
    line-height: 1.5;
}

.result-item p,
.result-item h2 {
    margin:5px 0;
}

#footer {
    background-color: #f2f2f2;
    font-size: 15px;
    border-top: 1px solid #e4e4e4;
}

#footer p {
    margin: 0;
}

#footer #upper-footer {
 padding: 10px 0 10px 160px;
 border-bottom: 1px solid #e4e4e4;
 display: flex;
 flex-direction: row;
}
#footer #upper-footer p {
    margin-right: 20px
}

#Location {
    font-weight: bold;
}

#footer #lower-footer {
    padding: 10px 0 0 160px;
}
#footer #lower-footer #footer-nav ul {
    padding-left: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    }
 #footer #lower-footer #footer-nav ul li{
     margin-right: 10px;
 }
 #footer #lower-footer #footer-nav ul li:last-child {
     margin-right:0;
 }
#footer #lower-footer #footer-nav ul li a {
    color: #70757a;
    text-decoration: none;
}
#footer #lower-footer #footer-nav ul li a:hover {
    color: #000;
}